# folders to ignore
config/*
scopy/scope_core/migrations/*
scopyw-env/*
venv/*
run/*
log/*

# ignore compiled files
*.pyc

# ignore local files
celerybeat-schedule
scopyweb.db
scope_config.xml
scope_joblist.xml
scope_msglog.xml
scopy/scope_core/config/settings.py

# ignore MacOSX directory cache
.DS_Store