# folders to ignore
config/*
scopy/scope_core/migrations/*

# ignore compiled files
*.pyc

# ignore local files
celerybeat-schedule
scopyweb.db
scope_config.xml
scope_joblist.xml
scope_msglog.xml

# ignore MacOSX directory cache
.DS_Store