{% extends 'dashing/base.html' %}
{% load staticfiles %}

{% block title %}
Scope Device
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'scopemenu/scopemenu.css' %}">
<link rel="stylesheet" href="{% static 'dashing/widgets/scopedevice/scopedevice.css' %}">
<link rel="stylesheet" href="{% static 'dashing/widgets/scopegraph/scopegraph.css' %}">
{% endblock %}

{% block templates %}
<link rel="resource" type="text/html" href="{% static 'dashing/widgets/scopedevice/scopedevice.html' %}" data-widget="scopedevice">
<link rel="resource" type="text/html" href="{% static 'dashing/widgets/scopegraph/scopegraph.html' %}" data-widget="scopegraph">
{% endblock %}

{% block main_container %}
<div id="container">
    <div id="scope_menu">
        <div class="label">MENU</div>
        <div class="menu">
            <a href="#" class="menu_item">Admin Page</a>
            <a href="#" class="menu_item">Download Activity Log</a>
            <a href="#" class="menu_item">Reset ScopePi</a>
        </div>
    </div>
    <div class="gridster fade" rv-each-grid="grids" rv-gridsterify="grid" rv-class-in="grid.active"><ul></ul></div>
</div>
<div id="overlayContainer">
    <div class="overlay fade" rv-class-in="showingOverlay" rv-on-click="hideOverlay">
        <div class="box" rv-each-dashboard="dashboards" rv-on-click="swapDashboard">{ dashboard.name }</div>
        <div id="actionContainer">
            <div class="action" id="rollingMenu" rv-if="rollingMenu">
                <span rv-on-click="rollingMenu.toggle">Rolling Time</span>
                <ul rv-class-in="rollingMenu.showing">
                    <li rv-on-click="rollingMenu.set" data-time="60" style="transition-delay:0.3s">One minute</li>
                    <li rv-on-click="rollingMenu.set" data-time="30" style="transition-delay:0.2s">30 seconds</li>
                    <li rv-on-click="rollingMenu.set" data-time="5" style="transition-delay:0.1s">5 seconds</li>
                    <li rv-on-click="rollingMenu.set" data-time="0" style="transition-delay:0s">Not rolling</li>
                </ul>
            </div>
            <div class="action" rv-each-action="actions">
                <span rv-on-click="action.func">{ action.name }</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'scopemenu/scopemenu.js' %}"></script>
<script type="text/javascript" src="{% static 'dashing/widgets/scopedevice/scopedevice.js' %}"></script>
<script type="text/javascript" src="{% static 'dashing/widgets/scopegraph/scopegraph.js' %}"></script>
{% endblock %}

{% block config_file %}
<script type="text/javascript" src="{% static 'dashing-config.js' %}"></script>
{% endblock %}