.widget-scopedevice>div {
    background-color: rgb(220, 89, 69);
}

.widget-scopedevice h1 { 
    color: rgba(255, 255, 255, 0.7);
}

.widget-scopedevice ol, ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.widget-scopedevice ol {
    list-style-position: inside;
}

.widget-scopedevice li {
    margin-bottom: 5px;
    background-color: rgb(220, 89, 69);
}

.widget-scopedevice .list-nostyle {
    list-style: none;
}

.widget-scopedevice .label {
    color: rgba(255, 255, 255, 0.7);
}

.widget-scopedevice .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: white;
}

.widget-scopedevice .more-info {
    color: rgba(255, 255, 255, 0.7);
}

.widget-scopedevice .updated-at {
    color: rgba(0, 0, 0, 0.3);
}

.widget-scopedevice .switch {
    float: right;
    width: 60px;
    height: 24px;
}

.widget-scopedevice .switch input { display: none; }

.widget-scopedevice .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.widget-scopedevice .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border-radius: 50%;
}

.widget-scopedevice input:checked + .slider {
    background-color: orangered;
}

.widget-scopedevice input:focus + .slider {
    box-shadow: 0 0 1px orangered;
}

.widget-scopedevice input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
